extends layout

block content
  
  h1 CAB432 Assignment 2 - Twitter Streams
  h2 Application Usage 
  p Enter 1-5 words into the search query below to gather sentiments values and important terms using data obtained from twitter.
  form(role='search', id='searchForm')
    input(type='text', name='q', id='searchText', placeholder='Enter search term')
    button Search 
  #warning
  h2 Data
  .stream
  .stream
  .stream
  .stream
  .stream
  script(src='/javascripts/search.js')
  .container-fluid
    .row
      .col-md-12.col-lg-8
        h1#colh1 Tweet Sentiments
        div#barchart
      .col-md-12.col-lg-4
        h1#colh1 Important Terms
        div#collapsibletree