extends layout

block content
  .col-lg-12.text-center.mt-5
    h1 CAB432 Assignment 2 - Twitter Streams
        h3 Application Usage 
        p Enter 1-5 words into the search query below to gather sentiments values and important terms using data obtained from twitter.
  .col-md-4.offset-md-4.mt-5
    form(role='search', id='searchForm')
      .input-group.mb-3
        input.form-control(type='text', name='q', id='searchText', placeholder='Enter search term')
        button.btn.btn-primary Search 
      #warning
  script(src='/javascripts/search.js')
  .container-fluid#contentContainer
    .row
      .col-md-12.col-lg-8
        h1#colh1 Tweet Sentiments
        ul.legend
          li
            span.very-negative
            |  Very Negative
          li
            span.negative 
            |  Negative
          li
            span.somewhat-negative
            |  Somewhat Negative
          li
            span.somewhat-positive
            |  Somewhat Positive
          li
            span.positive
            |  Positive
          li
            span.very-positive
            |  Very Positive

        div#barchart
      .col-md-12.col-lg-4
        h1#colh1 Important Terms
        div#tidyTree